#
# This GitHub action runs Packer go tests across
# Linux runners.
#

name: "Go Test Linux"

on: [ push ]

permissions:
  contents: read

jobs:
  get-go-version:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: 'Determine Go version'
        id: get-go-version
        run: |
          echo "Found Go $(cat .go-version)"
          echo "go-version=$(cat .go-version)" >> $GITHUB_OUTPUT
  linux-go-tests:
    needs:
      - get-go-version
    runs-on: ubuntu-latest
    name: Linux Go tests
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v3
        with:
          go-version: ${{ needs.get-go-version.outputs.go-version }}
      - run: |
          echo "Testing with Go $(cat .go-version)"
          go test -race -count 1 ./... -timeout=3m
